$header-height: 3rem;
$toolbar-height: 2.5rem;
$formula-height: 1.5rem;
$db-header-height: 5rem;

$row-height: 1.5rem;
$cell-width: 8rem;
$info-cell-width: 4rem;
$border: 1px solid #eee;
$border-hover: 1px solid rgba(0, 128, 0, .5);
$border-focus: 1px solid rgba(0, 128, 0, .8);

$box-shadow: 0 0 0.5rem rgb(180, 180, 180);
$selected-cell-color: #3c74ff;